<div class="{{ElementContext}} ProductInfoLink">
    <fieldset>
        <legend>{{id}}</legend>
        <label for="{{ElementContext}}_title">Title</label>
        <input type="text" value="{{title}}" />
        <label for="{{ElementContext}}_link">Link</label>
        <input type="text" value="{{link}}" />
        <label for="{{ElementContext}}_type">Type</label>
        <input type="text" value="{{type}}" />
    </fieldset>
</div>

<!--
                console.log(`***`);
                console.log(`\tid: ${link.id}`);
                console.log(`\ttitle: ${link.title}`);
                console.log(`\tlink: ${link.link}`);
                console.log(`\ttype: ${link.type}`);
                console.log(`\tsubType: ${link.subType}`);
-->